# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
 
/node_modules
/.pnp
.pnp.js

/coverage
 
/build
 
.env
.env.example
.env.local
.env.staging
.env.production.local
.env.test.local

npm-debug.log*
yarn-debug.log*
yarn-error.log